.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 400px;
}
.label {
  font-size: 1.8rem;
  transition: all 500ms;
}

.input {
  margin-top: 5px;
}

.button {
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .label {
    font-size: 1.5rem;
  }
  .container {
    padding: 10px;
    padding-top: 70px;
  }
  .form {
    width: 100%;
    min-width: 0;
  }
}
