.form {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  .label {
    margin-top: 20px;
    font-size: 2rem;
    transition: all 500ms;
  }
  
  .input {
    margin-top: 5px;
  }
  
  .button {
    margin-top: 30px;
  }
  
  @media screen and (max-width: 600px) {
    .label {
      font-size: 1.5rem;
    }
    .container {
      padding: 10px;
      padding-top: 70px;
    }
    .form {
      width: 100%;
    }
  }