.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 70px;
  margin-top: 30px;
  /* min-height: 100%; */
  height: calc(100% - 30px);
  max-width: 100%;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.cardsContainer > div {
  margin-right: 10px;
  margin-bottom: 10px;
}
