.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 120px;
  min-height: 100%;
  align-items: center;
}

.title {
  width: 500px;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .title {
    width: 100%;
  }
}

.verifyContainer {
  font-family: Roboto;
}

.character {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;

  background-color: white;
}

/* .characterinactive {
}
.characterselected {
} */
